 .output-item {
   height: 8vw;

   .output-label {
     width: 20vw;
     height: 100%;
     padding-right: 2vw;
     vertical-align: center;
     font-size: 16px;
   }

   .output-value {
     width: 20vw;
     height: 100%;
     color: green;
     font-size: 32px;
     padding-left: 2vw;
     vertical-align: center;
   }
 }
